{% load boxoffice_tools %}

<li class="basket-list-item">
  <div class="row">
    <div class="col-3 col-md-2">
      <a href="{% url 'order_history' order.order_number %}">
        {{ order.order_number|truncatechars:6 }}
      </a>
    </div>
    <div class="col-6 col-md-3">{{ order.date }}</div>
    <div class="d-none d-md-block col-md-5">
      {% for ticket in order.original_basket|format_basket %}
        <p>{{ ticket.date }} - {{ ticket.type }} &times;{{ ticket.quantity }}</p>
      {% endfor %}
    </div>
    <div class="col-3 col-md-2 text-right">£{{ order.order_total }}</div>
  </div>
</li>
