{% extends "base.html" %}
{% load static %}
{% load core_tools %}
{% load event_tools %}
{% load crispy_forms_tags %}

{% block title %}
  {# Are we editing or adding an event? #}
  {% if event %}
    Editing: {{ event.title }} - {{ block.super }}
  {% else %}
    Adding event - {{ block.super }}
  {% endif %}
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block content %}
  <div id="header-spacer"></div>
  <section class="container-fluid">
    <form action="">
      <div class="row event-content constrain-width">
        <div class="col-12">
          {{ event_form.content|as_crispy_field }}
        </div>

        <div class="col-12 col-md-4 order-md-2 mt-3 event-side-panel">
          {{ event_form.type|as_crispy_field }}
          {{ event_form.venue|as_crispy_field }}
        </div>

        <div class="col-12 col-md-8 order-md-1 event-description">
          <div class="row">
            <div class="col-12 col-md-8">
              {{ event_form.title|as_crispy_field }}
            </div>
            <div class="col-12 col-md-4">
              {{ event_form.author|as_crispy_field }}
            </div>
          </div>
          {{ event_form.tagline|as_crispy_field }}
          {{ event_form.description|as_crispy_field }}
        </div>

      </div>
      <div class="row constrain-width event-gallery">
        <div class="col-12">
          {% if images %}
            <h3>Add Gallery Images (<span id="gallery-image-count">{{ images.count }}</span>)</h3>
          {% else %}
            <h3>Add Gallery Images (<span id="gallery-image-count">0</span>)</h3>
          {% endif %}
          <ul id="add_gallery_list">
            {# Show the add image control #}
            <li id="add-image-item" class="upload-image-item">
              <label for="add-image-chooser">
                <img id="add-image-preview" class="upload-image-preview"
                    src="{{ None|check_image }}" data-no-image="{{ None|check_image }}">
                <input id="add-image-chooser" type="file" accept="image/png, image/jpeg">
              </label>
              <div>
                {{ image_form.name|as_crispy_field }}
                {{ image_form.description|as_crispy_field }}
              </div>
            </li>
            {# Add any existing images #}
            {% for image in images %}

            {% endfor %}
          </ul>
        </div>
      </div>
    </form>
  </section>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>const csrfToken = "{{ csrf_token }}";</script>
  <script src="https://cdn.tiny.cloud/1/ciyu0kn1e6maiyjus8my7wmgsbqjjhk5331ktzw8c0tt2vh6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="{% static 'js/scroller.js' %}"></script>
  <script src="{% static 'events/js/edit_events.js' %}"></script>
{% endblock %}
