{% extends "base.html" %}
{% load static %}
{% load core_tools %}
{% load event_tools %}
{% load crispy_forms_tags %}

{% block title %}
  {# Are we editing or adding an event? #}
  {% if event %}
    Editing: {{ event.title }} - {{ block.super }}
  {% else %}
    Adding event - {{ block.super }}
  {% endif %}
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block content %}
  <div id="header-spacer"></div>
  <section class="container-fluid">
    <form method="POST" action="{% url 'edit_event' %}">
      {% csrf_token %}
      {% if event %}
        <input type="hidden" name="event_id" value="{{ event.id }}">
      {% endif %}

      <div class="row event-content constrain-width">
        <div class="col-12">
          {{ event_form.content|as_crispy_field }}
        </div>

        <div class="col-12 col-md-4 order-md-2 mt-3 event-side-panel">
          {{ event_form.type|as_crispy_field }}
          {{ event_form.venue|as_crispy_field }}
          <button id="#add-date-btn" type="button"></button>
        </div>

        <div class="col-12 col-md-8 order-md-1 event-description">
          <div class="row">
            <div class="col-12 col-md-8">
              {{ event_form.title|as_crispy_field }}
            </div>
            <div class="col-12 col-md-4">
              {{ event_form.author|as_crispy_field }}
            </div>
          </div>
          {{ event_form.tagline|as_crispy_field }}
          {{ event_form.description|as_crispy_field }}
        </div>

      </div>
      <div class="row constrain-width event-gallery">
        <div class="col-12">
          <h3>Gallery list</h3>
          <button id="add-image-btn" class="btn btn-twc-dark mb-2" type="button" data-no-image="{{ None|check_image }}">
            Add Image
          </button>
          <ul id="add_gallery_list">
            {# Add any existing images #}
            {% for image in images %}
              <li class="upload-image-item">
                <div class="row">
                  <label>
                    <img class="upload-image-preview"
                        src="{{ image.image|check_image }}">
                    <input name="existing-image" type="hidden" value="{{ image.id }}">
                    <input class="image-chooser hidden-image-input" name="new-image" type="file" accept="image/png, image/jpeg">
                  </label>
                  <div class="col text-right">
                    <input name="image-name" class="form-control mb-1" type="text" placeholder="Image name"
                            value="{{ image.name }}" required>
                    <input name="image-description" class="form-control mb-1"
                            type="text" placeholder="Image description"
                            value="{% if image.description %}{{ image.description }}{% endif %}">
                    <input name="title-image" type="radio">
                    <button class="remove-image-btn btn btn-twc-brand" type="button">
                      Remove
                    </button>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row constrain-width mb-5">
        <div class="col-12 col-sm-4 mb-2 text-center text-sm-left">
          <a class="btn btn-twc-dark w-75" href="{% url 'events' %}?type=show">Cancel</a>
        </div>
        <div class="col-12 col-sm-4 mb-2 text-center">
          <button class="btn btn-twc-brand w-75" type="button">Delete Event</button>
        </div>
        <div class="col-12 col-sm-4 mb-2 text-center text-sm-right">
          {% if event %}
            <input type="submit" class="btn btn-twc-dark w-75" value="Update Event">
          {% else %}
            <input type="submit" class="btn btn-twc-dark w-75" value="Add Event">
          {% endif %}
        </div>
      </div>
    </form>
  </section>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>const csrfToken = "{{ csrf_token }}";</script>
  <script src="https://cdn.tiny.cloud/1/ciyu0kn1e6maiyjus8my7wmgsbqjjhk5331ktzw8c0tt2vh6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="{% static 'js/scroller.js' %}"></script>
  <script src="{% static 'events/js/edit_events.js' %}"></script>
{% endblock %}
