{% extends "base.html" %}
{% load static %}
{% load event_tools %}

{% block content %}

<section class="container-fluid">
  
  <div class="row event-header" style="--background-image: url('{{event.title_image.image.url}}')">
    <div class="event-header-text">
      <h1 class="event-title">{{ event.title }}</h1>
      {% if event.author %}
        <p class="event-author">By {{ event.author }}</p>
      {% endif %}
      {% if event.tagline %}
        <p class="event-tagline">{{ event.tagline }}</p>
      {% endif %}
    </div>
  </div>
  
  <div class="row event-content">
    {# This side panel should only be shown for live performances #}
    <div class="col-12 col-md-4 order-md-2 event-side-panel">
      
      {# Venue Information #}
      <div class="event-panel">
        <h4>{{ event.venue.name }}</h4>
        <p>{{ event.venue.description|truncatechars:256 }}</p>
        <a class="btn btn-twc-light w-100" href="#">Venue Information</a>
      </div>
      
      {# Event dates #}
      {% if first_date %}
        <div class="event-panel">
          <h5 class="event-date">
            {{ first_date|date:"d/m/Y" }}
            {% if first_date != last_date %}
              to {{ last_date|date:"d/m/Y" }}
            {% endif %}
          </h5>
        </div>
      {% endif %}
      
      {# No tickets for past events #}
      {% if last_date|in_the_future %}
      <!-- TODO: Only show this if event is in the future and has available tickets -->
        {# Ticket information #}
        <div class="event-panel">
          <h5>Tickets</h5>
          List of prices/ticket types here
          i.e.
          <ul>
            <li>Adult: £10</li>
            <li>Concession: £7.50</li>
          </ul>
          <a class="btn btn-twc-light w-100" href="#">Buy Tickets</a>
        </div>
      {% endif %}
    </div>
    
    {# Event description #}
    <div class="col-12 col-md-8 order-md-1 event-description">
      {{ event.description|safe }}
    </div>
  </div>
  
  {# Event Gallery #}
  {% if images %}
    <div class="row event-gallery">
      <div class="col-12">
        {% with items=images template='image_tile.html' buttons='gallery_btns.html' %}
          {% include 'includes/horizontal_scroller.html' %}
        {% endwith %}
      </div>
    </div>
  {% endif %}
  
</section>

{% if images %}
  <div id="gallery-modal" 
      class="modal"  
      tabindex="-1" 
      aria-labelledby="gallery-image-title"
      aria-hidden="true">
      
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content gallery-image">
        <button type="button" class="close gallery-image-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <img src="{{ event.title_image.image.url }}" alt="">
        <h5 id="gallery-image-title">{{ event.title_image.name }}</h5>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}

{% block script %}
  {{ block.super }}
  <script type="text/javascript" src="/static/js/scroller.js"></script>
  <script type="text/javascript">  
    $('.gallery-image-link').click(function(){
      let imageModal = $( $( this ).data( "target" ) );

      imageModal.find("img").attr("src", $( this ).data( "image" ));
      imageModal.find("#gallery-image-title").text($( this ).data( "description" ));
      
      imageModal.modal();
    });
  </script>
{% endblock %}




