{% extends "base.html" %}

{% block title %}
  {{ block.super }}{% if event_type %} - {{ event_type.display_name }}s{% endif %}
{% endblock %}

{% block content %}
  <div id="header-spacer"></div>
  <section class="container-fluid">
    <div class="row">
      {% for event in current_events %}
        {% include 'includes/event_card.html' with showcase=True %}
      {% endfor %}
      <hr class="w-100"/>
    </div>
    <div class="row no-gutters event-list">
      {% for event in past_events %}
        {% include 'includes/event_card.html' with showcase=False %}
      {% endfor %}
    </div>
  </section>
{% endblock %}