{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ block.super }} - {{ venue.title }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
  {{ block.super }}
{% endblock %}

{% block content %}
  <div id="header-spacer"></div>
  <div class="container-fluid venue-content">
    {# Venue quick title information #}
    <div class="row">
      <h1 class="col-12 section-header">{{ venue.name }}</h1>
      <p class="col-12"> Phone number: {{ venue.phone_number }}</p>
      <p class="col-12">
        Address:
        {{ venue.street_address1 }},
        {{ venue.street_address2 }},
        {{ venue.town_or_city }},
        {{ venue.county }},
        {{ venue.postcode }}
      </p>
    </div>
    <div class="row no-gutters">
      {# Venue location map #}
      <div class="col-12 col-md-6 order-md-2">
        <div class="square-spacer">
          <div id="map" class="map">
            <input id="longitude" type="hidden" value="-0.147723">
            <input id="latitude" type="hidden" value="51.320051">
          </div>
        </div>
      </div>
      {# Venue image #}
      <div class="col-12 col-md-6 order-md-1">
        <img class="venue-image" src="{{ venue.image.url }}" alt="">
      </div>
    </div>
    {# Venue description #}
    <div class="row">
      <div class="col-12 venue-description">
        {{ venue.description }}
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
  <script src="/static/js/map.js"></script>
{% endblock %}