# test database
*.sqlite3

# fixtures
/*.json


# python
*.pyc
__pycache__/

# python virtual environment
bin/
lib/
lib64
pyvenv.cfg
share/

# media files
media/events

# helper scripts
update_media.sh
update_static.sh
set_production.sh
set_development.sh

# Environment variables
.env