# test database
*.sqlite3
db.json
home.json

# python
*.pyc
__pycache__/

# python virtual environment
bin/
lib/
lib64
pyvenv.cfg
share/

# helper scripts
update_static.sh
set_production.sh
set_development.sh

# Environment variables
.env