{% extends "base.html" %}
{% load static %}

{% block title %}
  User name here - {{ block.super }}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

  <div id="header-spacer"></div>
  <section class=container-fluid>

    <div class="row constrain-width basket-page-contents">
      <h1 class="col-12 page-header">My Profile</h1>
    </div>

    <div class="row constrain-width basket-page-contents">
      <div class="col-12 col-lg-6 order-2 order-lg-1">

      </div>

      <div class="col-12 col-lg-6 order-1 order-lg-2">

      </div>

    </div>
  </section>

{% endblock %}

