{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {{ user }}'s profile' - {{ block.super }}
{% endblock %}

{% block css %}
  {{ block.super }}
{% endblock %}

{% block content %}

  <div id="header-spacer"></div>
  <section class=container-fluid>

    <div class="row constrain-width basket-page-contents">
      <h1 class="col-12 page-header">My Profile</h1>
    </div>

    <div class="row constrain-width basket-page-contents">
      <div class="col-12">
        <form class="row" action="{% url 'profile' %}" method="POST">
          {% csrf_token %}
          <div class="col-12 col-md-6">
            {{ user_form.first_name|as_crispy_field }}
          </div>
          <div class="col-12 col-md-6">
            {{ user_form.last_name|as_crispy_field }}
          </div>
          <div class="col-12 col-md-6">
            {{ user_form.email|as_crispy_field }}
          </div>
          <div class="col-12 col-md-6">
            {{ profile_form.default_phone_number|as_crispy_field }}
          </div>
          <div class="col-12 col-md-4 offset-md-4">
            <input class="btn btn-twc-dark w-100" type="submit" value="submit">
          </div>
        </form>
      </div>

      <div class="col-12">
        <h3 class="text-center my-4">Your Orders</h3>
        <ul>
          <li class="row">
            <div class="col-3">Order No.</div>
            <div class="col-3">Date</div>
            <div class="col-4">Tickets</div>
            <div class="col-2">Order Total</div>
          </li>
          {% for order in orders %}
            {% include 'includes/order_line.html' with order=order %}
          {% endfor %}
        </ul>
      </div>

    </div>
  </section>

{% endblock %}

