
:root {
   /*
    * Website Pallet
    */
  --dark-color: #14161A;
  --dark-color-rgb: 20,22,26;
  --light-color: #FFFFFF;
  --light-color-rgb: 255,255,255;
  --background-color: #EBEDF0;
  --background-color-rgb: 235,237,240;
  --brand-color: #FF3333;
  --brand-color-rgb: 255,51,51;
  --accent-color: #1B48A1;
  --accent-color-rgb: 27,72,161;
  /*
   * Global vars
   */
  --header-mobile-height: 91px;
  --header-desktop-height: 143px;
}

html, body {
  height: 100vh;
}

body {
  background-color: var(--background-color);
  color: var(--dark-color);
  font-family: 'Roboto', sans-serif;
}

/*
 * General styles
 */

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(20,22,26, 0), rgba(20,22,26, 0.75), rgba(20,22,26, 0));
}

#header-spacer {
  padding-top: var(--header-mobile-height);
  background-color: var(--dark-color);
}

.hide {
  display: none !important;
}

.constrain-width {
  max-width: 1500px;
  margin: auto;
}

.page-header {
  color: var(--brand-color);
  text-align: center;
  padding: 25px;
}

/*
 * Custom components
 */
.btn-twc-light {
  color: var(--dark-color);
  background-color: var(--light-color);
  border: 1px solid var(--dark-color);
  text-shadow: none;
}

.btn-twc-light:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
  border: 1px solid var(--dark-color);
}

.btn-twc-dark {
  color: var(--light-color);
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  text-shadow: none;
}

.btn-twc-dark:hover {
  color: var(--dark-color);
  background-color: var(--light-color);
  border: 1px solid var(--dark-color);
}

.btn-twc-brand {
  color: var(--light-color);
  background-color: var(--brand-color);
  border: 1px solid var(--light-color);
  text-shadow: none;
}

.btn-twc-brand:hover {
  color: var(--brand-color);
  background-color: var(--light-color);
  border: 1px solid var(--brand-color);
}

.btn-twc-accent {
  color: var(--light-color);
  background-color: var(--accent-color);
  border: 1px solid var(--light-color);
  text-shadow: none;
}

.btn-twc-accent:hover {
  color: var(--accent-color);
  background-color: var(--light-color);
  border: 1px solid var(--accent-color);
}

.section-header {
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.form-control {
  border-color: var(--dark-color);
}

.form-control:focus,
.form-control:active,
.btn:focus, .btn:active {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 0.2rem rgba(var(--accent-color-rgb),0.5);
}

/*
 * Removes the spinner controls on number fields, which appear to be
 * buggy with bootstrap and some browsers
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/*
 * Horizontal item scroller
 */
.scroller {
  position: relative;
  overflow: hidden;
  padding: 0 25px;
  width: 100%;
}

.scroller-items {
  list-style-type: none;
  overflow: hidden; /*scroll;*/
  white-space: nowrap;
  font-size: 0;
  margin: 0;
  padding: 5px 0;
}

.scroll-item {
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  padding: 0px;
}

.scroll-item-bookend {
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  width: 25px;
}

.scroller .scroll-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.scroller .scroll-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/*
 * Page header and menubar
 */
.nav-wrapper {
  position: absolute;
  width: 100%;
  max-height: 100vh;
  z-index: 99;
  overflow-y: show;
}

.navbar {
  margin: 0 auto;
  color: var(--light-color);
}

.navbar:first-child {
  padding-bottom: 0;
}
.navbar:last-child {
  padding-top: 0;
}

.navbar-brand {
  margin: 0;
}
.navbar-brand img {
  height: 65px;
  max-width: 50vw;
}

.navbar-toggler {
  padding: 5px;
}
.navbar-toggler:focus {
  outline: none;
}

.nav-menu-icon {
  width: 25px;
  height: 25px;
  fill: none;
  stroke: var(--light-color);
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-width: 20%;
}

.navbar-center {
  text-align: center;
}

.navbar-nav {
  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;
}
 /* Searchbar */
.navbar > .nav-search-form {
  display: none;
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translateX(-50%) translateY(-50%);
}

.navbar-collapse > .nav-search-form {
  display: inline-block;
  width: 100%;
}

.nav-search {
  transform-style: preserve-3d;
  border-radius: 0;
  border: 1px solid var(--dark-color);
}

.btn-search {
  transform-style: preserve-3d;
  color: var(--dark-color);
  background-color: var(--light-color);
  border: 1px solid var(--dark-color);
  border-radius: 0;
  height: 38px;
  width: 38px;
  padding: 0;
}

.btn-search:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
}

.search-icon {
  height: 25px;
  width: 25px;
  fill: none;
  stroke: var(--dark-color);
  stroke-linecap:round;
  stroke-width: 25;
}

.btn-search:hover > .search-icon {
  stroke: var(--light-color);
}

/* Header Icons */
.header-icons {
  position: static;
  display:flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.header-icons > .list-inline {
  margin: 0;
}

.header-icons .list-inline-item {
  margin: 0;
}

.header-icons svg {
  width:25px;
  height:25px;
  margin: 0 5px;
}

.icon-user {
  fill: var(--light-color);
  stroke: var(--dark-color);
}

.icon-ticket-body {
  fill: var(--light-color);
  stroke-width: 1;
  stroke: var(--dark-color);
}

.icon-ticket-cut {
  fill:none;
  stroke-dasharray:2.11666, 2.11666;
  stroke-dashoffset:2.6458;
  stroke-linecap:round;
  stroke-width: 1;
  stroke: var(--dark-color);
}

.icon-ticket-text {
  fill: var(--brand-color);
  font-family: Anton;
  text-align: right;
  text-anchor: middle;
}

.navbar {
  background-color: rgba(var(--dark-color-rgb), 0.9);
}

.nav-link {
  color: var(--light-color);
  text-transform: uppercase;
}

.nav-link.active {
  border-bottom: var(--accent-color) 1px solid;
}

.nav-link:hover {
  color: var(--brand-color);
  border-bottom: var(--brand-color) 1px solid;
}

/*
 * Home page
 */
#home-page-carousel {
  height: 100%;
}

.carousel-inner,
.carousel-item {
  height: 100%;
}
.carousel-item > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.carousel-caption {
  color: var(--light-color);
  background-color: rgba(var(--dark-color-rgb), 0.9);
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  max-width: 1000px;
  bottom: initial;
}

.carousel-control-icon {
  width: 50px;
  height: 50px;
  fill: var(--light-color);
  stroke: var(--dark-color);
  stroke-width: 0.25;
}

/*
 * Content pages
 */
.content-page-content {
  background-color: var(--light-color);
  margin: auto;
}
.content-page-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  justify-content: center;
  align-content: flex-start;
}
.content-page-link {
  width: 100%;
  padding: 2px;
}
.content-page-link a {
  width: 100%;
}

/*
 * Event List
 */
#event-list {
  margin: 10px;
}

/* Showcase card */
.event-showcase-card {
  height: 50vh;
  min-height: 250px;
  border: none;
  border-radius: 0;
}

.event-showcase-card .card-img {
  height: 100%;
  border-radius: 0;
  object-fit: cover;
}

.event-showcase-card .card-img-overlay {
  display: flex;
  align-items: flex-end;
}

.event-showcase-card .jumbotron {
  color: var(--light-color);
  text-shadow: 1px 1px 2px var(--dark-color);
  background-color: rgba(var(--dark-color-rgb),0.9);
  width: 100%;
  padding: 5px 1rem;
  margin-bottom: 0;
}

.event-showcase-title {
  font-size: 2rem;
  border-bottom: 1px solid var(--light-color);
}

.event-showcase-dates {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.event-showcase-tag {
  margin-bottom: 0.5rem;
}

.event-showcase-links {
  text-align: right;
  margin-bottom: 0;
}

/* Normal event listings */
.event-card {
  border: none;
  border-radius: 0;
}

.event-card-link:hover .card-img-overlay {
  background: radial-gradient(circle, rgba(var(--dark-color-rgb),0) 0%, rgba(var(--dark-color-rgb),1) 100%);
}
.event-card-action {
  display: none;
}
.event-card-link:hover .event-card-action {
  display: block;
  position: absolute;
  padding: 5px;
  bottom: 0;
  right: 15px;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  background-color: var(--brand-color);
  color: var(--light-color);
}

.event-card .card-img {
  height: 300px;
  border-radius: 0;
  object-fit: cover;
}

.event-card-title {
  color: var(--light-color);
  text-shadow: 1px 1px 2px var(--dark-color);
  font-size: 2rem;
}

/* Event list advanced search form */
.advanced-search-form {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to right, rgba(20,22,26, 0), rgba(20,22,26, 0.75), rgba(20,22,26, 0));

  padding: 2px 0;
  margin: 2px auto;
}

.advanced-search-form input[type="submit"] {
  width: 100%;
}

.events-pagination {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

#load-more-indicator {
  display: flex;
  justify-content: center;
  color: var(--accent-color);
}

/*
 * Event page
 */
.event-header {
  height: 100vh;
  min-height: 450px;
  background: var(--background-image) center/cover no-repeat;
  color: var(--light-color);
  text-shadow: 1px 1px 2px var(--dark-color);
}

.event-header-text {
  background-color: rgba(var(--dark-color-rgb),0.9);
  align-self: center;
  max-width: 500px;
  padding: 50px;
  margin: auto;
}

.event-title {
  text-align: center;
  border-bottom: 1px solid var(--light-color);
}
.event-author {
  text-align: center;
}
.event-tagline {
  text-align: center;
  color: var(--brand-color);
}

.event-content,
.event-gallery {
  margin: 25px auto;
}

.event-description {
  padding: 15px;
  background-color: var(--light-color);
}

.event-side-panel {}

.event-panel {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--dark-color);
}
.event-panel:first-child {
  border-top: 1px solid var(--dark-color);
}
.event-panel:last-child {
  border-bottom: none;
}

.event-date {
  text-align: center;
}

.event-video-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.gallery-scroll-btn {
  height: 100%;
  border-radius: 0;
  border: none;
}
.gallery-scroll-btn:first-of-type {
  background: linear-gradient(90deg,
    rgba(var(--background-color-rgb),1) 45%,
    rgba(var(--background-color-rgb),0) 95%);
}
.gallery-scroll-btn:last-of-type {
  background: linear-gradient(270deg,
    rgba(var(--background-color-rgb),1) 45%,
    rgba(var(--background-color-rgb),0) 95%);
}

.gallery-scroll-btn svg {
  width: 35px;
  height: 35px;
  fill: var(--light-color);
  stroke: var(--dark-color);
  stroke-width: 0.3;
}
.gallery-scroll-btn:hover svg {
  fill: var(--brand-color);
}
.gallery-scroll-btn:focus {
  box-shadow: none;
}

.gallery-image-tile {
  width: 125px;
  height: 125px;
  padding: 5px;
  object-fit: cover;
  cursor: zoom-in;
}

.gallery-image-tile:hover {
  padding: 0;
  box-shadow: 0 0 2px var(--dark-color);
}

#gallery-modal {
  background-color: rgba(var(--dark-color-rgb), 0.9);
}

.gallery-image {
  max-height: 90vh;
  background: transparent;
  border: none;
}

.gallery-image > img {
  max-height: 85vh;
  object-fit: contain;
}

.gallery-image-close {
  position: fixed;
  opacity: 1;
  color: var(--light-color);
  width: 25px;
  height: 25px;
  right: 5px;
  top: 5px;
}
.gallery-image-close svg {
  fill: var(--light-color);
  width: 15px;
  height: 15px;
}
.gallery-image-close:hover svg {
  fill: var(--brand-color);
}

.gallery-btn {
  border-radius: 0;
  border: none;
  opacity: 1;
}
.gallery-btn svg {
  width: 35px;
  height: 35px;
  fill: var(--light-color);
  stroke: var(--dark-color);
  stroke-width: 0.3;
}
.btn.gallery-btn:disabled {
  opacity: 0;
}
.gallery-btn:hover:not(:disabled) svg {
  fill: var(--brand-color);
}
.gallery-btn:focus,
.gallery-btn:active {
  box-shadow: none;
}

#gallery-next {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#gallery-prev {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#gallery-image-title {
  text-align: center;
  color: var(--light-color);
  text-shadow: 1px 1px 2px var(--dark-color);
}

/*
 * Venue Page
 */
.venue-content {
  justify-content: center;
  margin-top: 25px;
}

.venue-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.venue-description {
  padding-top: 25px;
  padding-bottom: 50px;
}

.square-spacer {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*
 * Boxoffice
 */
.ticket-validation-wrapper {
  display: flex;
  height: calc(100% - var(--header-mobile-height));
  padding: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket-validation-info {
  position: relative;
  padding: 5px;
  border: 1px solid var(--dark-color);
  width: 100%;
  max-width: 1000px;
}

.ticket-validation-info.expired {
  border: 1px solid red;
  background-color: rgba(255,0,0,0.5);
}

.ticket-validation-info.expired::after {
  content: "Expired!";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bolder;
  color: red;
}

#add-ticket-modal .modal-content {
  min-height: 50%;
}

#add-tickets-form-wrapper {
  border-bottom: 1px solid #DEE2E6;
  padding: 5px 0;
}

label.add-ticket-label {
  display: block;
  justify-content: flex-start;
}

#add-ticket-date,
#add-ticket-type,
#add-ticket-quantity {
  margin: 5px 0;
}

.input-number-control {
  display: inline-flex;
}
.btn-inc, .btn-dec {
  color: var(--light-color);
  background-color: var(--dark-color);
  border: 1px solid var(--dark-color);
  width: 35px;
  margin: 5px 0;
}
.btn-inc:hover, .btn-dec:hover {
  color: var(--dark-color);
  background-color: var(--light-color);
}
.btn-dec {
  border-radius: 0.25rem 0 0 0.25rem;
  border-right: none;
}
.btn-inc {
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: none;
}

#add-ticket-quantity {
  display: block;
  padding: 6px;
  width: 40px;
  border-radius: 0;
}

#add-ticket-submit {
  float: right;
  margin: 5px 0;
}

#add-tickets-list {
  list-style: none;
  padding: 0;
}

.add-ticket-list-item {
  position: relative;
  border-bottom: 1px solid var(--dark-color);
  margin-bottom: 25px;
}

.delete-list-item {
  position: absolute;
  right: 0;
  top: 0;
}
.delete-list-item:hover {
  color: red;
}

/*
 * Media Queries
 */
 /* Extra small screens (Phones) < 576px */

 /* Small screens (large phones, small tablets) > 576px */
@media (min-width: 576px) {
  .navbar-collapse > .nav-search-form {
    width: 75%;
  }
  .content-page-link {
    width: 50%;
  }
}

 /* Medium screens (tablets) > 767px */
 @media (min-width: 767px) {
   .content-page-link {
     width: 100%;
   }
 }

 /* Large screens (desktop/laptop) > 960px */
@media (min-width: 992px) {
  #home-page-carousel {
    height: 100%;
  }
  .navbar-center {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .navbar {
    background-color: transparent;
  }
  .navbar > .nav-search-form {
    display: inline-block;
  }
  .navbar-collapse > .nav-search-form {
    display: none;
  }
  .header-icons {
    position: absolute;
    right: 16px;
    top: 13px;
  }
  .header-icons svg {
    width: 38px;
    height: 38px;
  }
  .nav-item {
    text-shadow: 2px 1px var(--dark-color);
  }
  #header-spacer {
    width: 100%;
    height: var(--header-desktop-height);
    padding-top: var(--header-desktop-height);
  }
  #event-list {
    margin: 35px;
  }
  .event-showcase-title {
    font-size: 4rem;
  }
}

 /* Extra Large screens (desktop/laptop) > 1140px */