
 /*
  * Declaring pallet as custom properties makes maintenance easier.
  */
:root {
  --dark-color: #14161A;
  --light-color: #FFFFFF;
  --background-color: #EBEDF0;
  --brand-color: #FF3333;
  --accent-color: #1B48A1;
}

html, body {
    height: 100vh;
}

body {
  background-color: var(--background-color);
  color: var(--dark-color);
  font-family: 'Roboto', sans-serif;
}

/*
 * Page header and menubar 
 */
header {
  height: 108px;
  background-color: var(--dark-color);
  overflow: visible;
}

.navbar {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  color: var(--light-color);
  background-color: var(--dark-color);
}

.nav-content {
  width: 100%;
  max-width: 1500px;
}

.navbar-brand img {
  height: 65px;
  max-width: 65vw;
}

.navbar-toggler:focus {
  outline: none;
}

.nav-menu-icon {
  width: 25px;
  height: 25px;
  fill: none;
  stroke: var(--light-color);
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-width: 20%;
}

.navbar-center {
  text-align: center;
}

.navbar-nav {
  font-family: 'Antonio', sans-serif;
  font-size: 1.5rem;
}

.navbar > .nav-search-form {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.navbar-collapse > .nav-search-form {
  display: inline-block;
  width: 100%;
}

.nav-search-form > .nav-search {
  width: 100%;
}

.nav-link {
  color: var(--light-color);
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--brand-color);
}

@media (min-width: 576px) {
  .navbar-collapse > .nav-search-form {
    width: 75%;
  }
}

@media (min-width: 992px) {
  header {
    height: 160px;
  }
  .navbar-center {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .navbar > .nav-search-form {
    display: inline-block;
  }
  .navbar-collapse > .nav-search-form {
    display: none;
  }
}
