{% load event_tools %}

{% if showcase %}

  <div class="col-12">
    <a href="#">
      <div class="card event-showcase-card">
        <img class="card-img" src="/media/test1.jpg" alt="">
        <div class="card-img-overlay">
          <div class="row event-showcase-content">
            <div class="col-12 col-md-6">
              <h2 class="event-showcase-title">{{ event.title }}</h2>
            </div>
            <div class="col-12 col-md-6 align-self-end">
              <p class="event-showcase-dates">
                {{ event.first_date|date:"d M" }}
                {% if event.first_date != event.last_date %}
                to {{ event.last_date|date:"d M" }}
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  
{% else %}

  <div class="col-12 col-md-6 col-lg-4">
    <div class="event-card card">
      <img class="card-img-top" src="/media/noimage.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ event.title }}</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  
{% endif %}