{% load static %}
{% load core_tools %}

<div id="gallery-modal"
    class="modal"
    tabindex="-1"
    aria-labelledby="gallery-image-title"
    aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content gallery-image">

      {# Close Button #}
      <button type="button" class="close gallery-image-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <svg width="10" height="10" version="1.1" viewBox="0 0 2.6458 2.6458" xmlns="http://www.w3.org/2000/svg">
           <path d="m0 0.45634 0.86588 0.86456-0.86587 0.86456 0.45704 0.46037
                    0.86587-0.86863 0.86588 0.86456 0.45704-0.45634-0.86588-0.86456
                    0.86588-0.86457-0.45704-0.45629-0.86588 0.86456-0.86588-0.86456z"/>
          </svg>
        </span>
      </button>

      {# Previous image button #}
      <button id="gallery-prev" class="btn gallery-btn">
        <span aria-hidden="true">
          <svg width='10' height='10' viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'>
            <path d="m6.2851 1.0156 1.4142 1.4142-2.5702 2.5702 2.5702 2.5702-1.4142 1.4142-3.9844-3.9844z"/>
          </svg>
        </span>
        <span class="sr-only">Previous</span>
      </button>

      {# Next image button #}
      <button id="gallery-next" class="btn gallery-btn">
        <span aria-hidden="true">
          <svg width='10' height='10' viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'>
            <path d="m2.3007 2.4298 1.4142-1.4142 3.9844 3.9844-3.9844 3.9844-1.4142-1.4142 2.5702-2.5702z"/>
          </svg>
        </span>
        <span class="sr-only">Next</span>
      </button>

      <img src="{{ event.title_image.image|check_image }}" alt="{{ event.title_image.name }}">
      <h5 id="gallery-image-title">{{ event.title_image.name }}</h5>
    </div>
  </div>
</div>
