{% load static %}

<div class="nav-wrapper">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'img/twc-title.svg' %}" alt="Theatre Workshop Coulsdon">
    </a>
    {% include 'includes/header_icons.html' %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
      <svg class="nav-menu-icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 500 500">
        <g id="menu_icon" data-name="menu_icon">
          <line x1="50" y1="50" x2="450" y2="50"/>
          <line x1="50" y1="250" x2="450" y2="250"/>
          <line x1="50" y1="450" x2="450" y2="450"/>
        </g>
      </svg>
    </button>
    {% include 'includes/search_bar.html' %}
  </nav>
  <nav class="navbar navbar-expand-lg">
    <div class="navbar-collapse collapse navbar-center" id="navbar-menu">
      {% include 'includes/search_bar.html' %}

      <ul class="navbar-nav">
        {% url 'events' as event_url %}
        {% url 'category_page' 'about' as about_us_url %}
        {% url 'category_page' 'join' as join_us_url %}
        {% url 'category_page' 'contact' as contact_us_url %}

        {% include 'includes/nav_item.html' with item_url=event_url|add:"?type=show" item_text="Productions" %}
        {% include 'includes/nav_item.html' with item_url=event_url|add:"?type=audio" item_text="Atmospherics" %}
        {% include 'includes/nav_item.html' with item_url=event_url|add:"?type=video" item_text="Films" %}

        {% include 'includes/nav_item.html' with item_url=about_us_url item_text="About" %}
        {% include 'includes/nav_item.html' with item_url=join_us_url item_text="Join Us" %}
        {% include 'includes/nav_item.html' with item_url=contact_us_url item_text="Contact" %}
      </ul>
    </div>
  </nav>
</div>