<div class="header-icons">
  <ul class="list-inline list-unstyled text-center m-0">
    <li class="list-inline-item dropdown m-0">
      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <svg version="1.1" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <path class="icon-user" d="m3.3949 30.162a12.605 12.605 0 0 1 12.607-12.602 12.605 12.605 0 0 1 12.603 12.605h-12.605z"/>
          <circle class="icon-user" cx="16" cy="11.577" r="6.9769"/>
        </svg>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
          {% endif %}
          <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
          <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
          <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
          <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
      </div>
    </li>
    <li class="list-inline-item">
      <a href="{% url 'view_basket' %}">
        <svg version="1.1" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <g>
            <path class="icon-ticket-body"
                  d="m1.7312 20.467 2.8589 2.8594c0.00571-6e-3 0.011522-0.01213 0.017315-0.01813 1.0114-1.0117 2.7465-0.91642
                    3.8753 0.21273 1.1289 1.1291 1.2242 2.8645 0.21269 3.8761-0.00585 0.0059-0.011774 0.01184-0.01772 0.01773l2.8585
                    2.859 18.733-18.736-2.8585-2.859c-0.0059 0.00594-0.01178 0.011841-0.01773 0.017725-1.0114 1.0117-2.7465
                    0.91642-3.8753-0.21273-1.1289-1.1291-1.2242-2.8645-0.21269-3.8761 6e-3 -0.00583 0.01203-0.011595 0.01811-0.017326l-2.8589-2.8594z"/>
            <path class="icon-ticket-cut" d="m17.028 5.2995 9.6585 9.6585"/>

            <circle class="icon-ticket-alert {% if basket.item_count == 0 %}hide{% endif %}"
                    cx="22" cy="22" r="6"/>
          </g>
        </svg>
      </a>
    </li>
  </ul>
</div>