{% extends "base.html" %}
{% load static %}
{% load boxoffice_tools %}

{% block title %}
  Basket ({{ basket.item_count }} items) - {{ block.super }}
{% endblock %}

{% block content %}
  <div id="header-spacer"></div>
  <section class=container-fluid>
    <div class="row constrain-width basket-page-contents">
      <h1 class="col-12 page-header">Basket</h1>
    </div>
    <div class="row constrain-width basket-page-contents">
      <div class="col-12">
        <ul id="basket-list">
          {% if basket.items %}
            {% for item in basket.items %}
              {% include 'includes/basket_item.html' %}
            {% endfor %}
          {% else %}
            <li class="no-basket-items">You have no items in your basket.</li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="row constrain-width basket-page-contents">
      <div class="col-12">
        <h3 id="basket-total">Total: £<span>{{ basket.total }}</span></h3>
      </div>
    </div>
    <div class="row constrain-width basket-page-contents">
      <div id="basket-links" class="col-12">
        <a href="{% url 'events' %}?type=show" class="btn btn-twc-dark">
          Continue Browsing
        </a>
        {% if basket.item_count > 0 %}
          <a id="checkout-btn" href="{% url 'checkout' %}" class="btn btn-twc-dark">
            Secure Checkout
          </a>
        {% endif %}
      </div>

    </div>
  </section>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
    const csrfToken = "{{ csrf_token }}";
  </script>
  <script src="{% static 'js/numberctrl.js' %}"></script>
  <script src="{% static 'js/basket.js' %}"></script>
{% endblock %}
