{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block css %}
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block fonts %}
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Anton&family=Antonio&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    {% endblock %}

    {# Legacy favicon #}
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    {# SVG responsive favicon #}
    <link rel="icon" href="{% static 'img/favicon.svg' %}" type="image/svg+xml">

    <title>{% block title %}Theatre Workshop Coulsdon{% endblock %}</title>
  </head>
  <body>
    {% block header %}
      <header>
        {% include 'includes/header_bar.html' %}
      </header>
    {% endblock %}

    <div class="message-container">
      {% include 'includes/messages.html' %}
    </div>

    {% block content %}
    {% endblock %}

    {% block footer %}
      {% include 'includes/footer.html' %}
    {% endblock %}

    <button id="scroll-to-top-btn" data-toggle="tooltip" data-placement="left" title="Back to top">
      <svg class="back-to-top-icon" xmlns='http://www.w3.org/2000/svg'
           width='10' height='10' viewBox='0 0 10 10'>
        <path d="m2.4298 7.6993-1.4142-1.4142 3.9844-3.9844 3.9844 3.9844-1.4142 1.4142-2.5702-2.5702z"/>
      </svg>
    </button>

    {% block scripts %}
      <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/scrolltop.js' %}"></script>
      <script src="https://js.stripe.com/v3/"></script>
      <script src="{% static 'js/messages.js' %}"></script>
    {% endblock %}
  </body>
</html>

