{% comment %}
<button type="button" class="btn btn-twc-dark"
        data-event-id="" data-event-title=""
        data-toggle="modal" data-target="#addTicketModal">
  Buy Tickets
</button>
{% endcomment %}

<div class="modal fade" id="addTicketModal"
      data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="addTicketModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="addTicketModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        {# Add tickets form #}
        {# Ticket list #}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-twc-dark" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-twc-dark">Add to Basket</button>
      </div>

    </div>
  </div>
</div>
