{% comment %}
<button type="button" class="btn btn-twc-dark"
        data-event-id="" data-event-title=""
        data-toggle="modal" data-target="#addTicketModal">
  Buy Tickets
</button>
{% endcomment %}

<div class="modal fade" id="add-ticket-modal"
      data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="add-tickets-label" aria-hidden="true">

  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" id="add-tickets-label"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div id="add-tickets-form-wrapper">Loading...</div>

      <div class="modal-body">
        <ul id="add-tickets-ticket-list"></ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-twc-dark" data-dismiss="modal">
          Cancel
        </button>
        <button id="addTicketsToBasket" type="button" class="btn btn-twc-dark">
          Add to Basket
        </button>
      </div>

    </div>
  </div>
</div>
