<li class="basket-list-item">
  <div class="row">
    <div class="col-12 col-md-6">
      <h3>EVENT TITLE</h3>
      <h5>Sat, 3 Jan 1823 at 20:00</h5>
    </div>
    <div class="col-6 col-md-2 text-left">
      Concession (£10.00)
    </div>
    <div class="col-2 col-md-2 text-center">
      100
    </div>
    <div class="col-4 col-md-2 text-right">
      £1000.00
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-left">
      <button class="btn-sm btn-twc-accent basket-update-item">
        Update
      </button>
    </div>
    <div class="col-6 text-right">
      <button class="btn-sm btn-twc-brand basket-delete-item">
        Delete
      </button>
    </div>
  </div>
</li>


<div class="input-number-control">
  <button class="btn btn-dec" data-target="#add-ticket-quantity">
    -
  </button>
  <input id="add-ticket-quantity" class="form-control"
          type="number" min="1" max="10" step="1" value="1">
  <button class="btn btn-inc" data-target="#add-ticket-quantity">
    +
  </button>
</div>